<!-- add category -->

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  + Category
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">enregistrement des categories</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form  [formGroup]="categoryForm" (ngSubmit)="onSubmit()"class="form-type-material">

          <div class="form-group">

            <label for="first_name">category_name</label>
            <input type="text" class="form-control" id="name" formControlName="name">
            <div *ngIf="!categoryForm.controls['name'].valid  &&  (categoryForm.controls['name'].touched || categoryForm.controls['name'].dirty)" class="messageError">
              <p class="text-danger">veillez renseignez le nom de la categorie sil vous plait!</p>
            </div>
          </div>

          <br>
          <button class="btn btn-bold btn-block btn-primary" type="submit">Sauvegarde</button>
        </form>
      </div>
    </div>
  </div>
</div>




