
<div class="row mb-2">
  <div *ngFor="let element of municipalityList" class="col-md-4">
      <div class="card">
        <div class="card-header">municipality</div>
        <div class="card-body">
          <p> name  :{{element.name}}</p>
          <p> city: {{element.city.name}}</p>
        </div>
        <div class="card-footer" *ngIf="user.roles.name == 'Admin'">
          <button type="button" (click)="delete(element.id)" class=" btn  btn-danger me-2">- </button>
        </div>
      </div>
    </div>
  </div>
  
