
<div class="row ">
  <div *ngFor="let element of municipalityList" class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1561154464-82e9adf32764?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" width="100px" height="150px" alt="Card image cap">
        <div class="card-body">
          <p> name  :{{element.name}}</p>
          <p> city: {{element.city.name}}</p>
        </div>
        <div class="card-footer" *ngIf="user.roles.name == 'Admin'">
          <button type="button" (click)="delete(element.id)" class=" btn  btn-danger me-2">- </button>
        </div>
      </div>
    </div>
  </div>
  

