
<table class="table">
  <thead class="table-success">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>City</th>
    </tr>
  </thead>
  <tbody   >
    <tr *ngFor=" let items of municipalityList let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{items.name}}</td>
      <td>{{items.cityId}}</td>
      <td>
        <a  class="btn bg-primary"><i class='fas fa-eye view'></i></a>
        <a  class="btn"><i class="fa fa-edit edit"></i></a>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop (click)= edit(items)">
          -
        </button>
      </td>
    </tr>
    <tr>
      <td *ngIf="municipalityList.length == 0" colspan="6">No Municipality Found</td>
    </tr>
  </tbody>
</table>


