

<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top bg-secondary bg.opacity-30" style="background-color: #1e81b0 !important;">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#" style="color:white !important;">Ap</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="color:white !important;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color:white !important;">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" style="color:white !important;">Disabled</a>
        </li> -->
      </ul>
      <form class="d-flex" >
        <button (click)="logout()" class="btn btn-success" type="submit">Disconnect</button>
      </form>
    </div>
  </div>
</nav>

<div class="container-fluid">
<div class="row">
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse "style="background-color
:#1CD9B0 !important">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link">
          <span data-feather="layers"></span>

        </a>
      </li>

        <ng-container *ngIf="user.roles.name=='Admin'">
      <li class="nav-item">
        <a class="nav-link active  " href="#" routerLink="/layout/doctor" >
          <span><i class="fa fa-home"></i></span>
          Docteurs
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#" routerLink="/layout/city">
          Villes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"routerLink="/layout/contry" >
          <span data-feather="users"></span>
          Pays
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"routerLink="/layout/hospital">
          <span data-feather="bar-chart-2"></span>
          Hopitaux
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/layout/appointements">
          <span data-feather="layers"></span>
          Rendez vous
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/layout/municipality">
          <span data-feather="layers"></span>
          Municipalités
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/layout/assignements">
          <span data-feather="layers"></span>
          gestion des hopitaux
        </a>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/layout/role">
          <span data-feather="layers"></span>
          Roles
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/layout/speciality">
          <span data-feather="layers"></span>
          Specialités
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/layout/category">
          <span data-feather="layers"></span>
          Categories
        </a>
      </li>

    </ng-container>

    <ng-container *ngIf="user.roles.name=='Patient'">

      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/layout/appointements">
          <span data-feather="layers"></span>
          rendez vous
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/layout/city">
          <span data-feather="layers"></span>
          villes
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/layout/hospitalview">
          <span data-feather="layers"></span>
          hospitaux
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/layout/municipality">
          <span data-feather="layers"></span>
          municipalités
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/layout/assignements">
          <span data-feather="layers"></span>
           hopitaux et specifications
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link active  " href="#" routerLink="/layout/doctor" >
          <span><i class="fa fa-home"></i></span>
          Docteurs
        </a>
      </li>


    </ng-container>

    <ng-container  *ngIf="user.roles.name=='Doctor'">

      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/layout/appointements">
          <span data-feather="layers"></span>
          rendez vous
        </a>
      </li>

    </ng-container>

    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/layout/statistique">
        <span data-feather="layers"></span>
        Statistiques
      </a>
    </li>
    </ul>
  </div>
</nav>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
      <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>
        This week
      </button>
    </div>
  </div>
  <router-outlet></router-outlet>
  <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
</main>
</div>
</div>



