<!-- Sidebar -->
    <aside class="sidebar sidebar-icons-right sidebar-icons-boxed sidebar-expand-lg">
      <header class="sidebar-header">
        <a class="logo-icon" href="index.html"><img src="./../../../assets/img/logo-icon-light.png" alt="logo icon"></a>
        <span class="logo">
          <a href="index.html"><img src="./../../../assets/img/logo-light.png" alt="logo"></a>
        </span>
        <span class="sidebar-toggle-fold"></span>
      </header>

      <nav class="sidebar-navigation">
        <ul class="menu">

          <li class="menu-category">Preview</li>

          <li class="menu-item">
            <a class="menu-link" href="dashboard/index.html">
              <span class="icon fa fa-home"></span>
              <span class="title">Dashboard</span>
            </a>
          </li>
          <!-- afficher tous les elements pour le patient -->
          <!-- <ng-container *ngIf="user.roles.id == 1"> -->

            <li class="menu-item">
              <a class="menu-link" href="samples/support/index.html" target="_blank">
                <span class="dot"></span>
                <span class="title">Support System</span>
              </a>
            </li>

          <!-- </ng-container> -->
          <!-- afficher tous les elements pour le doctor -->
          <!-- <ng-container *ngIf="user.roles.id != 2"> -->
          <li  class="menu-item">
            <a class="menu-link" href="#" routerLink="/layout/doctor">
              <span class="dot"></span>
              <span class="title">doctor operation</span>
            </a>
          </li>
          <!-- </ng-container> -->

            <!-- afficher tous les elements pour l'adminitrateur -->
            <!-- <ng-container  > -->
                <li class="menu-item">
                  <a class="menu-link" href="#" routerLink="/layout/city">
                    <span class="dot"></span>
                    <span class="title">city operation</span>
                  </a>
                </li>

                <li class="menu-item">
                  <a class="menu-link" href="#" routerLink="/layout/contry">
                    <span class="dot"></span>
                    <span class="title">Contry operation</span>
                  </a>
                </li>

                <li class="menu-item">
                  <a class="menu-link" routerLink="/layout/hospital">
                    <span class="dot"></span>
                    <span class="title">hospital operation</span>
                  </a>
                </li>

                <li class="menu-item">
                  <a class="menu-link" routerLink="/layout/appointements">
                    <span class="dot"></span>
                    <span class="title">appointements operation</span>
                  </a>
                </li>

                <li class="menu-item">
                  <a class="menu-link" routerLink="/layout/municipality">
                    <span class="dot"></span>
                    <span class="title">municipality operation</span>
                  </a>
                </li>

                <li class="menu-item">
                  <a class="menu-link" routerLink="/layout/role">
                    <span class="dot"></span>
                    <span class="title">role operation</span>
                  </a>
                </li>


                <!-- </ng-container> -->
        </ul>
      </nav>
    </aside>
<!-- END Sidebar -->
<router-outlet></router-outlet>
