<!-- add doctor -->
<div class="container-fluid">
  <h1>rendez vous</h1>

  <div class="row no-gutters min-h-fullscreen bg-white">

    <app-appointements

    (hospitalListOutput)="getHospitalListFromHospitalComponent($event)"

    (specialityListOutput)="getSpecialityListFromAppointementsComponent($event)"

    (appointementListOutput)="getAppointementsListFromAppointementsComponent($event)"

    (patientsOutput)="getPatientListFromAppointementsComponent($event)">


    (doctorListOutput)="getDoctorsListFromAppointementsComponent($event)">
  </app-appointements>

  </div>


  <div class="row no-gutters min-h-fullscreen bg-white">

      <app-appointements-list

      [hospitalList]="hospitalList"

      [patientsList]="patientsList"

      [specialityList]="specialityList"

      [doctorList]="doctorList"

      [appointementList]="appointementList" >


    </app-appointements-list>

  </div>



</div>
