<!-- add Hospital -->
<div class="container-fluid">

  <div class="px-80 py-30">
    <h4>enregistrement des Hopitaux</h4>

    <form  [formGroup]="hospitalForm" (ngSubmit)="onSubmit()"class="form-type-material">

      <div class="form-group">

        <label for="first_name">Hospital_name</label>
        <input type="text" class="form-control" id="name" formControlName="name">
        <div *ngIf="!hospitalForm.controls['name'].valid  &&  (hospitalForm.controls['name'].touched || hospitalForm.controls['name'].dirty)" class="messageError">
          <p class="text-danger">veillez renseignez le nom sil vous plait!</p>
        </div>
      </div>

      <div class="form-group">


        <label for="adresse">Hospital_adresse</label>
        <input type="text" class="form-control" id="adresse" formControlName="adresse">
        <div *ngIf="!hospitalForm.controls['adresse'].valid  &&  (hospitalForm.controls['adresse'].touched || hospitalForm.controls['adresse'].dirty)" class="messageError">
          <p class="text-danger">veillez renseignez l'adresse sil vous plait!</p>
        </div>
      </div>

      <label for="status">Disponibility</label>
      <select  type="text" class="form-control" id="status"formControlName="status">
        <option value="true">true</option>
        <option value="false">false</option>
      </select>
      <div *ngIf="!hospitalForm.controls['status'].valid  &&  (hospitalForm.controls['status'].touched || hospitalForm.controls['status'].dirty)" class="messageError">
        <p class="text-danger">veillez renseignez le status sil vous plait!</p>
      </div>


      <div class="form-group">

        <label for="municipalityId">Municipality of hospital</label>
        <select class="form-control" id="municipalityId" formControlName="municipalityId" for="municipalityId" >
          <option  *ngFor="let items of municipalityList" value ="{{ items.id }}">{{ items.name }}</option>
        </select>
        <div *ngIf="!hospitalForm.controls['municipalityId'].valid  &&  (hospitalForm.controls['municipalityId'].touched || hospitalForm.controls['municipalityId'].dirty)" class="messageError">
          <p class="text-danger">veillez selectionner une municipalité!</p>
        </div>
      </div>

      <div class="form-group">
        <label for="etablissementCategoryId">Category of hospitality</label>
        <select class="form-control" id="etablissementCategoryId" formControlName="etablissementCategoryId" for="etablissementCategoryId">
          <option *ngFor="let items of categoryList" value ="{{ items.id }}">{{ items.name }}</option>
        </select>
        <div *ngIf="!hospitalForm.controls['etablissementCategoryId'].valid  &&  (hospitalForm.controls['etablissementCategoryId'].touched || hospitalForm.controls['etablissementCategoryId'].dirty)" class="messageError">
          <p class="text-danger">veillez selectionner une categorie!</p>
        </div>
      </div>
      <br>
      <button class="btn btn-bold btn-block btn-primary" type="submit">Sauvegarde</button>
    </form>

    <hr class="w-30px">
  </div>