<!-- add villes -->
<!-- <div class="row"> -->

  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  + roles
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">enregistrement des Roles</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form  [formGroup]="rolesForm" (ngSubmit)="onSubmit()"class="form-type-material">

          <div class="form-group">

            <label for="name">rol</label>
            <input type="text" class="form-control" id="name" formControlName="name">
            <div *ngIf="!rolesForm.controls['name'].valid  &&  (rolesForm.controls['name'].touched || rolesForm.controls['name'].dirty)" class="messageError">
              <p class="text-danger">veillez renseignez le role sil vous plait!</p>
            </div>
          </div>

          <br>
          <button class="btn btn-bold btn-block btn-primary" type="submit">Enregistrer</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- </div> -->



