<div class="card">

  <div class="card-body">
    <table class="table">
      <thead class="table-success">
        <tr>
          <th>#</th>
          <th>nom</th>
          <th>prenom</th>
          <th>adresse</th>
          <th> telephone</th>
          <th>login</th>
          <th> email</th>
          <th>password</th>
          <th>disponibilite</th>
          <th>Matricule</th>
        </tr>
      </thead>
        <tbody>
          <tr *ngFor=" let items of doctorList let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{items.first_name}}</td>
            <td>{{items.last_name}}</td>
            <td>{{items.adresse}}</td>
            <td>{{items.phone_number}}</td>
            <td>{{items.login}}</td>
            <td>{{items.email}}</td>
            <td>{{items.mdPasse}}</td>
            <td>{{items.doctor_status}}</td>
            <td>{{items.matricule}}</td>
          </tr>
          <tr>
            <td >{{doctorList.length }}</td>
          </tr>
        </tbody>
        </table>
    </div>
</div>
