    <table class="table">
      <thead >
        <tr>
          <th>#</th>
          <th>nom</th>
          <th>prenom</th>
          <th>adresse</th>
          <th> telephone</th>
          <th>login</th>
          <th> email</th>
          <th>m_passe</th>
          <th>Matricule</th>
          <th>specialite</th>
          <th>operation</th>
        </tr>
      </thead>
        <tbody>
          <tr *ngFor=" let items of doctorList let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{items.first_name}}</td>
            <td>{{items.last_name}}</td>
            <td>{{items.adresse}}</td>
            <td>{{items.phone_number}}</td>
            <td>{{items.login}}</td>
            <td>{{items.email}}</td>
            <td>{{items.mdPasse}}</td>
            <td>{{items.matricule}}</td>
            <!-- <td>{{items?.speciality.name}}</td> -->
            <button  type="button" (click)="delete(items.id)" class=" btn  btn-danger me-2">- </button>
          </tr>
          <tr>
            <td >{{doctorList?.length }}</td>
          </tr>
        </tbody>
      </table>
  
   