<!-- add villes -->
<div class="container-fluid">

  <div class="px-80 py-30">
    <h4>enregistrement des pays</h4>

    <form  [formGroup]="contryForm" (ngSubmit)="onSubmit()"class="form-type-material">

      <div class="form-group">

        <label for="first_name">contry_name</label>
        <input type="text" class="form-control" id="name" formControlName="name">
        <div *ngIf="!contryForm.controls['name'].valid  &&  (contryForm.controls['name'].touched || contryForm.controls['name'].dirty)" class="messageError">
          <p class="text-danger">veillez renseignez le nom du pays sil vous plait!</p>
        </div>
      </div>

      <br>
      <button class="btn btn-bold btn-block btn-primary" type="submit">Sauvegarde</button>
    </form>

    <hr class="w-30px">
  </div>
