<!-- <div class="col-md-6 col-lg-7 col-xl-8 d-none d-md-block" data-overlay="2" > -->

  <div class="row h-100 pl-50">

    <!-- |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    | Pagination
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    ! -->
    <div class="col-lg-8 align-center">
      <div class="card">
        <h4 class="card-title"><strong>List of city</strong></h4>

        <div class="card-body">

          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Contry</th>
              </tr>
            </thead>
            <tbody   >
              <tr *ngFor=" let items of cityList let i = index">
                <th scope="row">{{i + 1}}</th>
                <td>{{items.name}}</td>
                <td>{{items.contryid}}</td>
                <td>
                  <a  class="btn"><i class='fas fa-eye view'></i></a>
                  <a  class="btn"><i class="fa fa-edit edit"></i></a>
                  <button  class="btn"><i class='fas fa-trash-alt delete'></i></button>
                </td>
              </tr>
              <tr>
                <td *ngIf="cityList.length == 0" colspan="6">No city Found</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
</div>

<!-- </div> -->
