<h1>statistiques</h1>
<div class="row">

  <div class="col">
    <div class="card" style="width:18rem;">
      <div class="card-body">
        <h5 class="card-title">Hopitaux</h5>
        <h6 class="card-subtitle mb-2 text-muted ">nombre d'hopitaux</h6>
        <p class="card-text">{{hospital.length}}
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="width:18rem;">
      <div class="card-body">
        <h5 class="card-title">Specialités</h5>
        <h6 class="card-subtitle mb-2 text-muted ">nombre de specialités</h6>
        <p class="card-text">{{speciality.length}}
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="width:18rem;">
      <div class="card-body">
        <h5 class="card-title">Docteurs</h5>
        <h6 class="card-subtitle mb-2 text-muted ">nombre de docteurs</h6>
        <p class="card-text">{{doctors.length}}
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="width:18rem;">
      <div class="card-body">
        <h5 class="card-title">Rendez vous</h5>
        <h6 class="card-subtitle mb-2 text-muted ">rendez vous enregistrer</h6>
        <p class="card-text">{{rdv.length}}
      </div>
    </div>
  </div>


  <div class="col">
    <div class="card" style="width:18rem;">
      <div class="card-body">
        <h5 class="card-title">Patients</h5>
        <h6 class="card-subtitle mb-2 text-muted ">patient</h6>
        <p class="card-text">{{patient.length}}
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="width:18rem;">
      <div class="card-body">
        <h5 class="card-title">Pays</h5>
        <h6 class="card-subtitle mb-2 text-muted ">Pays enregistrés</h6>
        <p class="card-text">{{contry.length}}
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="width:18rem;">
      <div class="card-body">
        <h5 class="card-title">villes</h5>
        <h6 class="card-subtitle mb-2 text-muted ">villes enregistés</h6>
        <p class="card-text">{{city.length}}
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="width:18rem;">
      <div class="card-body">
        <h5 class="card-title">Municipalités</h5>
        <h6 class="card-subtitle mb-2 text-muted ">municipalités prise en compte</h6>
        <p class="card-text">{{muni.length}}
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="width:18rem;">
      <div class="card-body">
        <h5 class="card-title">type d'hopitaux</h5>
        <h6 class="card-subtitle mb-2 text-muted ">types</h6>
        <p class="card-text">{{cat.length}}
      </div>
    </div>
  </div>

</div>

