<!-- add doctor -->
<div class="container-fluid">
  <h1 > Hopitaux </h1>
  <div class="row bg-white">

    <div class="col" >
      <app-hospital

      (categoryListOutput)="getCategoryListFromHospitalComponent($event)"

      (municipalityListOutput)="getMunicipalityListFromHospitalComponent($event)">

    </app-hospital>

      <div class="col">

        <app-hospital-list

        [municipalityList]="municipalityList"

        [categoryList]="categoryList"  >

      </app-hospital-list>
      </div>

    </div>

  </div>

</div>
