
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  + add
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form  [formGroup]="doctorForm" (ngSubmit)="onSubmit()"class="form-type-material">

          <div class="form-group">

            <label for="first_name">first_name</label>
            <input type="text" class="form-control" id="first_name" formControlName="first_name">
            <div *ngIf="!doctorForm.controls['first_name'].valid  &&  (doctorForm.controls['first_name'].touched || doctorForm.controls['first_name'].dirty)" class="messageError">
              <p class="text-danger">votre first_name est obligatoire!</p>
            </div>
          </div>

          <div class="form-group">


            <label for="last_name">last_name</label>
            <input type="text" class="form-control" id="last_name" formControlName="last_name">
            <div *ngIf="!doctorForm.controls['last_name'].valid  &&  (doctorForm.controls['last_name'].touched || doctorForm.controls['last_name'].dirty)" class="messageError">
              <p class="text-danger">votre last_name est obligatoire!</p>
            </div>
          </div>

          <div class="form-group">

            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" formControlName="email">
            <div *ngIf="!doctorForm.controls['email'].valid  &&  (doctorForm.controls['email'].touched || doctorForm.controls['email'].dirty)" class="messageError">
              <p class="text-danger">votre email est obligatoire!</p>
            </div>
          </div>

          <div class="form-group">
            <label for="login">login</label>
            <input type="text" class="form-control" id="login" formControlName="login">
            <div *ngIf="!doctorForm.controls['login'].valid  &&  (doctorForm.controls['login'].touched || doctorForm.controls['login'].dirty)" class="messageError">
              <p class="text-danger">votre login  est obligatoire!</p>
            </div>

          </div>

          <div class="form-group">
            <label for="mdPasse">Mot de passe</label>
            <input type="password" class="form-control" id="password" formControlName="password">
            <div *ngIf="!doctorForm.controls['password'].valid  &&  (doctorForm.controls['password'].touched || doctorForm.controls['password'].dirty)" class="messageError">
              <p class="text-danger">le mote de passe est obligatoire!</p>
            </div>

          </div>

          <div class="form-group">
            <label for="phone_number">phone_number</label>
            <input type="text" class="form-control" id="phone_number" formControlName="phone_number">
            <div *ngIf="!doctorForm.controls['phone_number'].valid  &&  (doctorForm.controls['phone_number'].touched || doctorForm.controls['phone_number'].dirty)" class="messageError">
              <p class="text-danger">le numero  est obligatoire!</p>
            </div>
          </div>



          <div class="form-group">

            <label for="address">adresse</label>
            <input type="text" class="form-control" id="address" formControlName="address">
            <div *ngIf="!doctorForm.controls['adresse'].valid  &&  (doctorForm.controls['adresse'].touched || doctorForm.controls['adresse'].dirty)" class="messageError">
              <p class="text-danger">votre adresse svp!</p>
            </div>

          </div>

          <div class="form-group">

            <label for="Matricule">Matricule</label>
            <input type="text" class="form-control" id="Matricule" formControlName="Matricule">
            <div *ngIf="!doctorForm.controls['Matricule'].valid  &&  (doctorForm.controls['Matricule'].touched || doctorForm.controls['Matricule'].dirty)" class="messageError">
              <p class="text-danger">votre Matricule svp!</p>
            </div>

          </div>
          <br>
          <button class="btn btn-bold btn-block btn-primary" type="submit">Sauvegarde</button>
        </form>
      </div>
    </div>
  </div>
</div>
