
<ng-container  *ngIf="user.roles.name =='Admin'">
<div class=" text-center" > bonjour {{user.first_name}} {{user.last_name}} consultez la liste de tous les endez vous du systeme </div>
</ng-container>

<ng-container  *ngIf="user.roles.name =='Patient'">
  <div  class=" text-center">  bonjour {{user.first_name}} {{user.last_name}}  consultez la liste de  vos rendez vous </div>
</ng-container>


          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>patient</th>
                <th>hopital</th>
                <th>date de rendez vous</th>
              </tr>
            </thead>
            <tbody   >
              <tr *ngFor=" let items of appointementList  let i = index">
                <th scope="row">{{i + 1}}</th>
                <td>{{items.patient.first_name}}</td>
                <td>{{items.hospital.name}}</td>
                <td>{{items.date}}</td>
                <td>
                  <a  class="btn"><i class='fas fa-eye view'></i></a>
                  <a  class="btn"><i class="fa fa-edit edit"></i></a>
                  <button  class="btn"><i class='fas fa-trash-alt delete'></i></button>
                </td>
              </tr>
              <tr>
                <td *ngIf="appointementList.length == 0" colspan="6">No appointements Found</td>
              </tr>
            </tbody>
          </table>