<!-- add city -->
<div class="container-fluid">

    <div class="row no-gutters min-h-fullscreen bg-white">
  
      <div class="col-8 " data-overlay="2" >
  
        <app-municipality-list
        [cityList]="cityList"
  
        [municipalityList]="municipalityList">
        </app-municipality-list>
  
      </div>
  
      <div class="col-4  align-self-center">
  
        <app-municipality
        (cityListOutput)="getcityListFromMunicipalityComponent($event)"
  
        (municipalityListOutput)="getMunicipalityListFromMunicipalityComponent($event)">
      </app-municipality>
  
      </div>
  
  
  </div>
  