
<div class="container-fluid">
  <h1 > municipality </h1>
    <div class="row no-gutters min-h-fullscreen bg-white">

      <div class="  align-self-center">
  
        <app-municipality 
        (cityListOutput)="getcityListFromMunicipalityComponent($event)"
  
        (municipalityListOutput)="getMunicipalityListFromMunicipalityComponent($event)">
      </app-municipality>
  
      </div>
  
      <div  >
  
        <app-municipality-list
        [cityList]="cityList"
  
        [municipalityList]="municipalityList">
        </app-municipality-list>
  
      </div>

  
  
  </div>
  