<div class="container-fluid">

  <div class="row no-gutters min-h-fullscreen bg-white">
    <div class="col-md-6 col-lg-7 col-xl-8 d-none d-md-block bg-img" style="background-image: url(./../../../../assets/img/gallery/11.jpgassets/img/gallery/11.jpg)"  data-overlay="5">

      <div class="row h-100 pl-50">
        <div class="col-md-10 col-lg-8 align-self-end">

          <img src="./../../../../assets/img/logo-light-lg.png" alt="..." >

          <br><br>
          <h4 class="text-white">Hospital Appointements</h4>
          <p class="text-white">Prendre un rdv deviens un jeux d'enfant .</p>
          <br><br>
        </div>
      </div>

    </div>


    <div class="col-md-6 col-lg-5 col-xl-4 align-self-center">
      <div class="px-80 py-30 pt-5 mt-5 mr">
        <h4>Login</h4>
        <p><small>Connectez vous a votre compte</small></p>
        <br>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"  class="form-type-material">

          <div class="form-group">
            <label for="login">Login</label>
            <input type="text" class="form-control" id="login" formControlName="login">
            <div *ngIf="!loginForm.controls['login'].valid  &&  (loginForm.controls['login'].touched || loginForm.controls['login'].dirty)" class="messageError">
              <p class="text-danger">le login est obligatoire!</p>
            </div>
          </div>

          <div class="form-group">
            <label for="mdPasse">Mot de Passe</label>
            <input type="password" class="form-control" id="password" formControlName="password">
            <div *ngIf="!loginForm.controls['password'].valid  &&  (loginForm.controls['password'].touched || loginForm.controls['password'].dirty)" class="messageError">
              <p class="text-danger">le mot de passe est obligatoire!</p>
            </div>
          </div>


          <div class="form-group">
            <button class="btn btn-bold btn-block btn-primary" type="submit">Connectez vous</button>
          </div>
        </form>

        <hr class="w-30px">
        <p class="text-center text-muted fs-13 mt-20">vous n'avez pas de compte?<a class="text-primary fw-500" routerLink="/register">Register</a></p>
      </div>
    </div>
  </div>

</div>
